<div class="row">
  <div class="col-md-12">
    <br />
    <h2>Courses</h2>
    <hr />

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Course Code</th>
          <th scope="col">Course Description</th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
          <tr>
            <td>
              <a href="/courses/{{courseId}}">
                {{courseCode}}
              </a>
            </td>
            <td>
              <a href="/students/{{courseId}}">
                {{courseDescription}}
              </a>

            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    {{#unless courses}}
      <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
      </div>
    {{/unless}}
  </div>
</div>