<div class="row">
  <main class="col-md-12">
    <br />
    <h2>{{viewData.student.firstName}}
      {{viewData.student.lastName}}
      - Student:
      {{viewData.student.studentNum}}</h2>
    <hr />

    <form method="post" action="/student/update">
      <input type="hidden" name="studentNum" value="{{viewData.student.studentNum}}" />

      <fieldset>
        <legend>Personal Information</legend>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>First Name:</label>
              <input
                class="form-control"
                name="firstName"
                type="text"
                value="{{viewData.student.firstName}}"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Last Name:</label>
              <input
                class="form-control"
                name="lastName"
                type="text"
                value="{{viewData.student.lastName}}"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Email:</label>
              <input
                class="form-control"
                name="email"
                type="email"
                value="{{viewData.student.email}}"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Address (Street):</label>
              <input
                class="form-control"
                name="addressStreet"
                type="text"
                value="{{viewData.student.addressStreet}}"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Address (City):</label>
              <input
                class="form-control"
                name="addressCity"
                type="text"
                value="{{viewData.student.addressCity}}"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Address (Province):</label>
              <input
                class="form-control"
                name="addressProvince"
                type="text"
                value="{{viewData.student.addressProvince}}"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" style="display: flex; gap: 10px">
              <label>TA:</label>
              <input
                class="form-control"
                name="TA"
                type="checkbox"
                {{#if viewData.student.TA}}value{{/if}}
                {{#if viewData.student.TA}}checked{{/if}}
                style="height: 20px !important; width: 20px"
              >Teaching Assistant</input>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" style="display: flex; gap: 10px">
              <label>Status:</label>
              <input
                class="form-control"
                name="status"
                type="radio"
                value="Full Time"
                {{#equal viewData.student.status "Full Time" }} checked {{/equal}}
                style="height: 20px !important; width: 20px"
              >Full-time</input>
              <input
                class="form-control"
                name="status"
                type="radio"
                value="Part Time"
                {{#equal viewData.student.status "Part Time" }} checked {{/equal}}
                style="height: 20px !important; width: 20px"
              >Part-time</input>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Course:</label>
              {{#if viewData.courses}}
                  <select class="form-control" name="course" id="course">
                    <option value="">Select Course</option>
                    {{#each viewData.courses}}
                      <option value="{{courseId}}" {{#if selected}} selected {{/if}} >{{courseCode}} </option>
                    {{/each}}
                  </select>
              {{else}}
                  <div>No Courses</div>
              {{/if}}
            </div>
          </div>
        </div>
      </fieldset>
      <hr />
      <input
        type="submit"
        class="btn btn-primary float-right"
        value="Update Student"
      /><br /><br /><br />
    </form>
  </main>
</div>